# Артефакты сборки
**/build/
.vs/
*.obj
*.pdb
*.ilk
*.exp
*.user

# Не игнорируем готовую библиотеку для exe
!exe/libs/matrixlib/*.dll
!exe/libs/matrixlib/*.lib
!exe/libs/matrixlib/*.so
!exe/libs/matrixlib/*.a
